<body>
  <!-- <img [src]="getImageUrl(starshipId)" 
    class="card-img-top"> -->
    <img
    class="card-img-top mb-3"
    src="https://starwars-visualguide.com/assets/img/starships/5.jpg"
    />
    <h3>{{ selectedShip?.name }}</h3>
  <div class="row">
    <div class="col-6">
      <p><b> MODEL: </b>{{ selectedShip?.model }}</p>
      <p><b> CLASS: </b>{{ selectedShip?.starship_class }}</p>
      <p><b> MANUFACTURER: </b>{{ selectedShip?.manufacturer }}</p>
      <p><b> COST: </b> {{ selectedShip?.cost_in_credits }} in credits</p>
      <p><b> CREW SIZE: </b>{{ selectedShip?.crew }}</p>
      <p><b> PASSANGER CAPACITY: </b>{{ selectedShip?.passengers }}</p>
    </div>
    <div class="col-6">
      <p><b> CARGO CAPACITY: </b> {{ selectedShip?.cargo_capacity }} tons</p>
      <p><b> CARGO CAPACITY: </b> {{ selectedShip?.consumables }}</p>
      <p><b> LENGTH: </b> {{ selectedShip?.length }} meters</p>
      <p>
        <b> MAXIMUM ATMOSPHERING SPEED: </b
        >{{ selectedShip?.max_atmosphering_speed }} km/h
      </p>
      <p><b> HYPERDRIVE RATING: </b> {{ selectedShip?.hyperdrive_rating }}</p>
      <p><b> MAXIMUM SPEED IN REALSPACE: </b>{{ selectedShip?.MGLT }} MGLT</p>
    </div>
  </div>
</body>
