<shared-navbar></shared-navbar>

<h3>LISTA DE NAVES</h3>

<button
  (click)="openFormModal(); selectShip(ship)"
  class="card"
  style="width: 28rem"
  *ngFor="let ship of shipsList"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div class="card-body">
    <h5 class="card-title">{{ ship.name }}</h5>
    <p class="card-text">{{ ship.model }}</p>
  </div>
</button>

<button (click)="logout()">Log out</button>

<!--MODAL-->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-starship-card></app-starship-card>
      </div>
    </div>
  </div>
</div>
