.bg-image{
    background-image: url('https://mcdn.wallpapersafari.com/medium/1/97/co341S.jpg');
    height: auto;
    }
    
.card {
    margin-left: auto;
    margin-right: auto;
    border: none ;
    border-radius: 5px;
    background-color: rgb(129, 129, 129, 0.95);
    color:rgb(24, 24, 24);
    text-align: left;
}
