<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
          </li>
          <li *ngIf='userLoginIn' class="nav-item">
            <a class="nav-link" [routerLink]="['/ships']">Ships</a>
          </li>
          <!-- ENSEÑAR BOTON DEPENDIENDO DE SI ESTA LOGGEADO O NO -->
          <li *ngIf='!userLoginIn' class="nav-item"> 
            <a class="nav-link" [routerLink]="['/login']" >Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>